<!-- include header -->
<%- include('partials/header', {title: 'Joshua\' s Blog App' , page: 'in' }) %>

  <body>
    <div class="container">
      <% if (!user) { %>
        <div class="unauthorized__top">
          <a href="/app/login">
            <button class="spirit__btn">Login</button>
          </a>
        </div>
      <% } %>
      <% if (user) { %>
        <header>
          <h2>Your're in!</h2>
          <a href="/app/drafts">See Drafts</a>
        </header>
      <% } else { %>
        <h2>Popular Today</h2>
      <% } %>
      <div>
        <% if (posts && posts.length) { %>
          <ul class="post__list">
            <% posts.forEach((post)=> { %>
              <%- include('partials/post', {post: post}) %>
            <% }) %>
          </ul>
        <% } %>
        <% if (!posts || !posts.length) { %>
          <p>There are no posts yet.</p>
        <% } %>
        <% if (user) { %>
          <div class="new__bottom">
            <a href="/app/write">
              <button class="spirit__btn">Write</button>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </body>

  <!-- include footer -->
  <%- include('partials/footer') %>