<!-- include header -->
<%- include('partials/header', {title: 'Joshua\' s Blog App' , page: 'index' }) %>

  <body>
    <div class="container">
      <h1>Welcome</h1>
      <p class="intro">
        <% if (user) { %>
          Hi! <%= user.first_name %>. You are somehow crossed the vastness of the internet and found your way to my humble
          abode logged in.
          I am glad you are here. I hope you enjoy your stay.
        <% } else { %>
          Hi! Internet traveler. You have somehow crossed the vastness of the internet and found your way to my humble
          abode.
          I am glad you are here. I hope you enjoy your stay. If you would like to create a blog, please
          <a href="/app/signup">register</a> or
          <a href="/app/login">login</a>.
        <% } %>
      </p>
      <div style="margin-top: 3rem;">
        <a href="/app/in">
          <button class="spirit__btn">
            Get in
          </button>
        </a>
      </div>
    </div>
  </body>

  <!-- include footer -->
  <%- include('partials/footer') %>