<!-- include header -->
<%- include('partials/header', {title: 'Joshua\' s Blog App' , page: 'index' }) %>

  <body>
    <div class="container">
      <h1>Welcome</h1>
      <p class="intro">
        Hi! Internet traveler. You have somehow crossed the vastness of the internet and found your way to my humble
        abode.
        I am glad you are here. I hope you enjoy your stay.
      </p>
      <div style="margin-top: 3rem;">
        <a href="/in">
          <button class="spirit__btn">
            Get in
          </button>
        </a>
      </div>
    </div>
  </body>

  <!-- include footer -->
  <%- include('partials/footer') %>