form {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

form.input {
  display: block;
}

.form__footer {
  margin-top: 3rem;
  font-size: 1.45rem;
}

.sign_up {
  margin-left: 1rem;
}